<h1 class="text-center header" id="app-header"> get your playlist info </h1><br> <br>
	<%= render "form" %>



<h5 class="text-center track-counter"><%= link_to "already got a playlist loaded? ", index_path %></h5>